[Desktop Entry]
[Desktop Entry]
Type=Application
Name=Compress to 10MB
Categories=Utility;
Comment[en_US]=
Comment=
Exec=/home/kolya/Videos/compress.sh %f
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Link to Application
Name=Link to Application
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
